div.container{
    padding-right:1%;
    padding-left:1%;
    margin-bottom:50px;
    min-height:100%;
    width:99%;
}

div.pane
{
    vertical-align:top;
    bottom:50px;
    height:750px;
}
div#leftMaps
{
    float:left;
    width:25%;
}

div#leftEarth
{
    float:left;
    width:29%;
    margin-left:1%;
}

div#leftNetwork
{
    float:left;
    width:25%;
}

div#rightMaps
{
    float:right;
    margin-top:2%;
    width:75%;
}


div#rightEarth
{
    float:right;
    width:70%;
}

div#rightNetwork
{
    float:right;
    width:75%;
}

div#rigthUL {
    float:right;
    width:35%;
}
div#leftUL {
    width:58%;
    float:left;
    margin-left:5%;
}
div.paneSmall
{
    vertical-align:top;
    bottom:50px;
    height:400px;
}