
body{
    background-color:#444444;
    color:white;
    font-family:georgia;
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
    background-image:url('images/banner.png');
    background-repeat:no-repeat;
    background-position:top;
    margin-top:320px;
}
h1{
    color:#D45710;
    padding-right:20%;
    padding-left:20%;
    font-weight:bold;
}
h2{
    color:#FFED67;
}

h3{
    color:#FFB581;
}

a{
    color:#FFB581;
}

p{
    padding-right:20%;
    padding-left:20%;
    text-align:justify;
}


ol{
    padding-right:20%;
    padding-left:22%;
    text-align:justify
}

ul{
    padding-right:20%;
    padding-left:22%;
    list-style-type:square;
    text-align:justify
}

li{
    padding-left:1%
}

li > ul {
    padding-left:2%;
    list-style-type: disc
}

li > ul > li > ul {
    padding-left:3%;
    list-style-type: circle
}

table{

    table-layout:fixed;
    border:5px #FF8822;
    margin-left:auto;
    margin-right:auto
}


tr.head{
    text-align:center;
    text-transform:uppercase;
    background-color:#D45710
}


td{
    padding:1%;
    vertical-align:middle
}


#navMenu ul{
    font-family:georgia;
    margin:auto;
    list-style-type:none;
    text-align:center;
    position:relative;
    margin-bottom:40px;
    display:inline-table
}

#navMenu ul:after{
    content:"";
    clear:both;
    display:block;
}


#navMenu ul li{
    display:block;
    background-color:#FF8822;
    list-style:none;
    text-align:center;
    padding:0.5em 0;
    position:relative;
    float:left;
}

#navMenu ul li a{
    text-decoration:none;
    padding:.005em 1em;
    color:white;
    position:relative;
    text-align:center;
    display:inline;
}

#navMenu ul li a:hover{
    color:#FFED67;
    text-align:center;
}

#navMenu ul li > ul{
    display:none;
    padding:0px;
    position:relative;
    width:105px;
    top:100%;
    float:none;
    margin:0;
    background-color:#FFED67;
    border-top:none
}

#navMenu ul li li{

    display:block;
    padding:3px 0px 3px 5px;
    color:#FF8822;
    cursor:pointer;
    text-align:center;
    background-color:#FFED67;
}
#navMenu ul li:hover > ul,
#navMenu ul li:active ul
{
    display:block;
    text-align:center;
    width:167px;
    color:#FF8822;
    position:absolute
}

#navMenu ul li ul li a:hover
{
    color:#444444
}

#navMenu ul li ul li a{
    color:#FF8822
    }
